* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 700 24px 'Helvetica';
    padding: 20px;
    margin: 0 500px;
}

:root {
    --global-border: 2px solid #000;
    --global-radius: 8px;
}

#diceContainer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: calc((100px * 2) + 10px + 25px);
    height: 100%;
    padding: 50px;
    margin: 10px;
}

.die {
    color: #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    min-width: 100px;
    height: 100px;
}

#resultBox {
    min-width: calc((100px * 2) + 10px + 25px);
    height: 80.4px;
    margin: 10px;
}

#resultText {
    text-align: center;
    margin: 25px;
}

#rollButton {
    font: 400 14px 'Helvetica';
    color: #fff;
    background-color: #000;
    border-style: none;
    display: block;
    width: 100px;
    height: 50px;
    margin: 25px auto;
}

#rollButton:active {
    color: #000;
    background-color: #fff;
}

#diceContainer,
.die,
#resultBox,
#rollButton:active {
    border: var(--global-border);
}

#diceContainer,
.die,
#resultBox,
#rollButton {
    border-radius: var(--global-radius);
}